<header class="site-header bg-gradient-to-r from-yellow-400 to-orange-500 p-4">
  <div class="logo cursor-pointer flex items-center" (click)="navigateHome()">
    <img src="assets/logo.png" alt="Saborido Etiquetas" class="h-10 mr-2">
    <span class="site-title text-white text-2xl font-bold">Saborido Etiquetas</span>
  </div>
  <nav class="nav-menu mt-2">
    <a routerLink="" routerLinkActive="active-home" [routerLinkActiveOptions]="{ exact: true }" class="home-link text-gray-300 hover:text-gray-200 mx-2">Inicio</a>
    <a routerLink="/contacto" routerLinkActive="active" class="text-white hover:text-gray-200 mx-2">Contacto</a>
  </nav>
</header>
