.bodega-container {
  text-align: center;
  margin: 20px;
  position: relative;
}

.visitas-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-top: -15px;
}

.visitas-container .material-icons {
  margin-right: 5px;
}

.etiquetas-container {
  margin: 20px;
  text-align: center; /* Center align content in the container */
}

/* Estilos para la tabla */
.etiquetas-table {
  margin: 0 auto 20px auto;
  border-collapse: separate;
  border-spacing: 0 10px;


  border: none;
}

table, th, td {
  border: none;
}
th.mat-header-cell, td.mat-cell {
  border: none; /* Remove borders from cells */
}

th.mat-header-cell {
  font-size: 1.5em;
  padding-bottom: 10px;
}

td.mat-cell {
  padding: 10px 0; /* Add vertical padding */
  text-align: center; /* Center content in cells */
}

/* Imagenes en las celdas */
.etiqueta-img {
  width: 100%;
  height: auto; /* Mantener la relación de aspecto */
  display: block;
  margin: 0 auto; /* Centrar la imagen */
  cursor: pointer;
  transition: transform 0.3s ease; /* Animation on hover */
}

.etiqueta-img:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}



.bodega-img {
  max-width: 40%;
  display: block;
  margin: 0 auto 15px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .bodegas-all {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 1600px) {
  .bodegas-all {
    margin-left: 20%!important;
    margin-right: 20%!important;
  }
}

/* Modal de imagen grande */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.large-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.image-modal:hover .large-image {
  transform: scale(1.05);
}

.mat-column-imgUrl1, .mat-column-imgUrl2 {
  width: 50%; /* Set equal width for both columns */
  padding: 5px 20px; /* Adjust padding to reduce space between columns */
}
.volver-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

.volver-button {
  padding: 10px 20px;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.volver-button:hover {
  background-color: #007bff;
  color: white;
}
.justified-text {
  text-align: justify;
}
.comentarios {
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 600px) {
  .comentarios {
    margin-left: 10%;
    margin-right: 10%;
  }
}
