<div class="volver-container">
  <button class="volver-button" (click)="navigateHome()">Volver</button>
</div>
<div class="bodegas-all">
  <div *ngIf="bodega && currentPage === 1" class="bodega-container">
    <h1>{{ bodega.nombre }}</h1>
    <div class="visitas-container">
      <span class="material-icons">visibility</span>
      <span>{{ bodega.visitas }}</span>
    </div>
    <img *ngIf="bodega.imgVisible === 'S'" [src]="bodega.imgUrl" alt="{{ bodega.nombre }}" class="bodega-img">
    <p [innerHTML]="getSanitizedDescription(bodega.descripcion)"></p>
    <p *ngIf="bodega.texto">{{ bodega.texto }}</p>
  </div>

  <div #etiquetasTable class="etiquetas-container">
    <table mat-table [dataSource]="etiquetas" class="mat-elevation-z8 etiquetas-table">
      <ng-container matColumnDef="imgUrl1">
        <th mat-header-cell *matHeaderCellDef> Etiquetas </th>
        <td mat-cell *matCellDef="let etiqueta">
          <img *ngIf="etiqueta.imgUrl1"
               [src]="etiqueta.imgUrl1"
               alt="Etiqueta 1"
               class="etiqueta-img"
               (click)="enlargeImage(etiqueta.imgUrl1)">
        </td>
      </ng-container>
      <ng-container matColumnDef="imgUrl2">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let etiqueta">
          <img *ngIf="etiqueta.imgUrl2"
               [src]="etiqueta.imgUrl2"
               alt="Etiqueta 2"
               class="etiqueta-img"
               (click)="enlargeImage(etiqueta.imgUrl2)">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="etiqueta-row"></tr>
    </table>
    <div class="paginator-container">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage <= 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages">Siguiente</button>
      <mat-form-field>
        <mat-select [(value)]="currentPage" (selectionChange)="goToPage($event.value)">
          <mat-option *ngFor="let page of pageOptions" [value]="page">{{ page }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- bodega.component.html -->
  <app-image-modal
    [imageUrl]="selectedImage"
    [disablePrev]="disablePrev"
    [disableNext]="disableNext"
    (close)="handleCloseModal()"
    (next)="navigateImage('next')"
    (prev)="navigateImage('prev')">
  </app-image-modal>
</div>
<div *ngIf="comentarios" class="comentarios">
  <app-comentarios [codBodega]="codBodega!"></app-comentarios>
</div>
