.hero-section {
  background-image: url('https://images.rimontgowineries.com/img/slider/dos/3/26de37ee39f55af6af0068ba57e48a35.jpg');
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo grisáceo */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo-center {
  max-width: 100px;
  margin-bottom: 15px;
}

.info-section, .cards-section {
  padding: 20px;
}

.bodega-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bodega-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.bodega-card:hover {
  transform: scale(1.05);
}

.bodega-card img {
  width: 100%;
  height: auto;
}

.bodega-card h3 {
  text-align: center;
  padding: 10px 0;
}
