<!-- src/app/pages/contacto/contacto.component.html -->


<div class="contact-section">
  <p> Puedes ponerte en contacto conmigo dejando tu email para poder contestarte.</p>
  <h2>Contacto</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" required>

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" formControlName="mensaje" required></textarea>

    <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
  </form>
  <div *ngIf="isLoading" class="spinner"></div>

</div>

<div *ngIf="showPopup" class="popup">
  <div class="popup-content">
    <p>{{ popupMessage }}</p>
    <button (click)="closePopup()">Aceptar</button>
  </div>
</div>
